@model BusinessProject.Models.ProviderService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProviderService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.provider.nameProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provider.nameProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.nameService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.nameService)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProviderService }) |
    @Html.ActionLink("Back to List", "Index")
</p>
