@model IEnumerable<BusinessProject.Models.customerService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sessionsNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.nameCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.nameService)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sessionsNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.nameCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.nameService)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCustomerService }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCustomerService }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCustomerService })
        </td>
    </tr>
}

</table>
