@model IEnumerable<BusinessProject.Models.ServiceSalesman>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.totalCommissionServiceSalesman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesMan.nameSalesman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.nameService)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.totalCommissionServiceSalesman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesMan.nameSalesman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.nameService)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idServiceSalesman }) |
            @Html.ActionLink("Details", "Details", new { id=item.idServiceSalesman }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idServiceSalesman })
        </td>
    </tr>
}

</table>
