@model IEnumerable<BusinessProject.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateBirthayEmployee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateBirthayEmployee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmployee }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmployee }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmployee })
        </td>
    </tr>
}

</table>
