@model BusinessProject.Models.typeProvider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>typeProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameTypeProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameTypeProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionProvider)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProvider }) |
    @Html.ActionLink("Back to List", "Index")
</p>
